<!DOCTYPE html>

<!-- This should cycle through the image assets of RICK CRICK CRICK and pair them with a random phrase every few seconds. -->

<head>
    <title>CRKT OS v.354</title>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <meta property="og:image" content="assets/imgs/title.jpg" />
</head>

<body>
    <div id="app">

        <audio id="audio" src="assets/audio/airyDrone.mp3"></audio>

        <transition appear name="fade" mode="out-in">

            <div key="0" v-if="!introSeen">
                <img style="cursor:pointer;" @click="introClicked()" src="assets/imgs/xonly.png" alt="ARE YOU PAYING ATTENTION?">
            </div>    

            <div key="1" class="musings" v-if="musing && introSeen">
            <img :src="selectedImage" alt="">
            <p>
                {{ selectedMonth }} : {{ illusionTime }}
            </p>
            <p> {{ selectedText }} </p>
            
            </div>

            <div key="2" class="musings" v-if="!musing && introSeen">
                    <img :src="selectedImage" alt="">
                    <p>
                        {{ selectedMonth }} : {{ illusionTime }}
                    </p>
                    <p> {{ selectedText }} </p>
                </div>

            </div>

            <!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMXOOOOOOOOkOKWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0xxxxxxxxxxKWN0kOOOOOOkO0NMMMMMMMMMMMMMMMMMMMMMMMMMWKOOOOOOOOOOXWXkkkkkkkkkk0NMMMMMMMMMMMMMMMMMMMMMMMMMMNOxxxxxxxxxxxxxxxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMMMMMMMXkxxxxxxxxxxxxxxxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMMMMMMWKxxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,'''''''''oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc''''''''':0MMMMMMMMMMMMMMMMMMMMMMMMMXl''''''''';kWx,..'''''''cKMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......................lXMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'.'..'...'lXMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMKc......................'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;............''........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......................lXMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........',,,,,,,,,,,,,oXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........';:;:::;::;;;:xWMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:......'..;xKKKKKKKKKKKKXWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........;kXXXXXXXXXXXXNMMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MXkxxxxxxxxxONMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0WKxxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMMMMMMWd'......'.'lNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wk,'.......'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'......'.'oNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wk,'.......'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'.....'..'dNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Mk,........'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........':ddxxxKWMMMMMMMMMMMMMM
MMMMMMWx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWKc.........:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Mk,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'......''.''...'dWMMMMMMMMMMMMMM
MMMMMMWx,........'oNNkdddddddddxKMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWNOxxxxxxxxxONMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Mk,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wx,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'...........'..'dWMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Mk,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wk,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'..............'dWMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'oKXXXXXXXXXXXNWMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Mk,.....'..'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wk,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'....'.........'dWMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'...'....',;;;;;;;;;;;;c0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MXkxxxxxxxxxONMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wk,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........';odddd0WMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'...'..................;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wk,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'..................'...;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Wk,........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'oNMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'......'..'............;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWKxdddddddddkNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0MXkxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXMMMMMMMMMMMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'...'.....''''''''''''';OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,kWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0MMMWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMWd'.....'..'lXWWMMMMMMWWMMMMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'..''....':xkkkkkkkkkkkONMMMMMMMMMMMMMMMMMMMMMMMMMXl'........':lloollllllllxXMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........,collolloolllo0WMMMMMMMMMMMMMMMMMMMMMMMMWd'.........;loolloooollldKMMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'...'....'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'.............:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........'..'....'....'xWMMMMMMMMMMMMMMMMMMMMMMMMWd'......................,kMMMMMMM
MMMMMMWx,........'oN0:'........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'..'...'.'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl............'..........cKMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;................''....'xWMMMMMMMMMMMMMMMMMMMMMMMMWd'....................'',kWMMMMMM
MMMMMMWx,........'oN0:.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo''..'..'.'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl.......................:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.'......':0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;...................'..'xWMMMMMMMMMMMMMMMMMMMMMMMMWd'...'..................;kWMMMMMM
MMMMMMWx,'''''''''oNKl,,,,,,,,,:kWMMMMMMMMMMMMMMMMMMMMMMMMNd,'''''''',dNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'''''''''''''''''''''''cKMMMMMMMMMMMMMMMMMMMMMMMMMMKc''''''''':0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:'''''''''''''''''''''',xWMMMMMMMMMMMMMMMMMMMMMMMMWx,'''''''''''''''''''''';OMMMMMMM
MMMMMMMX0000000000XWWXKKKKKKKKKXNMMMMMMMMMMMMMMMMMMMMMMMMMWX0000000000XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWK00000000000000000000000KNMMMMMMMMMMMMMMMMMMMMMMMMMMNK000000000KNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNK00000000000000000000000XMMMMMMMMMMMMMMMMMMMMMMMMMWX000000000000000000000000NMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMWNNNNNNNNNNNNNNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNWWMWNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMWNXXXXXXXXXXXXXXXXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWMMWWNNNNNNNNNWWMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNNNNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNWWMWWWWWWWWWWWWMMMMMMMM
MMMMMMWOc::::::::::::::::::::::cOWMMMMMMMMMMMMMMMMMMMMMMMMWx::cc::::clOWKo:::::::::l0MMMMMMMMMMMMMMMMMMMMMMMMMXd;;;;;;;;;;;;;;;c0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXdcccccccccdKWOl::ccccc:cdXMMMMMMMMMMMMMMMMMMMMMMMMM0l:::::::::::::::::::::::xWMMMMMMMMMMMMMMMMMMMMMMMMWOc:ccc::c:oKMKoccccccccco0MMMMMMM
MMMMMMWx,......................,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'.......',xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'..............;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:''.......:0Wx,........'cKMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;...''....,kMMMMMMM
MMMMMMWx,......................,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'....''..'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'..............;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:......'..:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;....'....,kMMMMMMM
MMMMMMWx,......................,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'..............;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:..'......:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,........'.............,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'..............;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........'...'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........;looooooooooodKMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMNkoooool;'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMXxoooooooooool;..'......'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNWXl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,........'lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMKl:::::::::oKXl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xW0:'........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'.......''xW0:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'......'.'cdl,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'...'......'...........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXWNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMNo'......''..'...'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXXd:::::::::cOWMMMMMMMMMMMMMMMMMMMMMMMMNo'..''..'.'.''.'........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.'.......,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'.......'':oc'...''....;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wd'.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'.......''xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Nd'.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'..'..'..'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......'.:0Nd'...'.....cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXdcccccccccoKNd'...'.....cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWNd''........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......,d000000KWMMMMMMMMMMMMMMMMMMMMMMMMMMWK00000000000Ol'.........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......''',,,,,cKMMMMMMMMMMMMMMMMMMMMMMMMMMKc,,,,,,,,,,,''..........cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'...............:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......................cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.'.......,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'...............:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......................cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.'.......,kMMMMMMM
MMMMMMWx,.........lXKc.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'...............:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......................cKMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:0Xl'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........;OMO;.........,kMMMMMMM
MMMMMMW0olllllllllxNNxlllllllllo0MMMMMMMMMMMMMMMMMMMMMMMMMWOllllllllllOWKdllllllllldKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNklllllllllllllllldXMMMMMMMMMMMMMMMMMMMMMMMMMMXdcccccccccccccccccccccccdXMMMMMMMMMMMMMMMMMMMMMMMMMKocccccccccdKNkllllllllllkWMMMMMMMMMMMMMMMMMMMMMMMMWOlccccccccoKMKxoddodddodxKMMMMMMM
MMMMMMMMWWWWWWWWWWWMMWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWMMMWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWMMWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMXOkkkkkkkkkKWN0kkkkkkkkk0WMMMMMMMMMMMMMMMMMMMMMMMMMWXOOOOOOOOOOXMNOkkkkkkkkkONMMMMMMMMMMMMMMMMMMMMMMMMMW0xxxxxxxxxxxxxxxxxxxxxxxONMMMMMMMMMMMMMMMMMMMMMMMMMMWXKKKKKKKKKKNMX0OOOOOOOOOKWMMMMMMMMMMMMMMMMMMMMMMMMMXOxxxxxxxxxxxxxxxxxxxxxxkKWMMMMMMMMMMMMMMMMMMMMMMMMWXOOOOOOOOO0XMXkdddddddddONMMMMMMM
MMMMMMWx,'''''''''oN0:'''''''''lXMMMMMMMMMMMMMMMMMMMMMMMMMNd''''''''',xWO;''''''''';OMMMMMMMMMMMMMMMMMMMMMMMMMXl'......................:KMMMMMMMMMMMMMMMMMMMMMMMMMMKl,,,,,,,,,:OWx,'''''''''lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.................'''..'oNMMMMMMMMMMMMMMMMMMMMMMMMWx,'''''''',xW0:......'..cKMMMMMMM
MMMMMMWx,........'oN0:.........lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'.......''xWO;........';OMMMMMMMMMMMMMMMMMMMMMMMMMXl.......................cKMMMMMMMMMMMMMMMMMMMMMMMMMMK:.'......';OWx,..'...'..lXMMMMMMMMMMMMMMMMMMMMMMMMMO;...................'..'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xW0:...'.....cXMMMMMMM
MMMMMMWx,........'oN0:.........lXMMMMMMMMMMMMMMMMMMMMMMMMMNo''......''xWO;.......'';OMMMMMMMMMMMMMMMMMMMMMMMMMXl'......................:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.......'.lXMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'xW0:.........cXMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'......................:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xW0:..'......cXMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'.........',''.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........'','.........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWKl;;;;;;;;;oXMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'o0d,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........:k0l'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWWXXXXXXXXXXNWMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWW0xxxxxxxxxOXMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'''..'...;OMMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo''.'..'..;0MMMMMMM
MMMMMMWx,........'oN0:........'lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWKxdddddddddkXMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.........lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'.''..'..;0MMMMMMM
MMMMMMWx,........'oN0:'........lXMMMMMMMMMMMMMMMMMMMMMMMMMNo'.....'.''xWO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWx,.'......'lXMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oNNkxxxxxxxxxONMMMMMMMMMMMMMMMMMMMMMMMMMW0dddddddddd0WO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OWKxxxxxxxxxk0WMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,.......''oNN0kkkkkkkkkONMMMMMMMMMMMMMMMMMMMMMMMMMW0xxxxxxxxxONMO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,.......''oN0:''''''''':0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'......'.,xWWWNNNNNNNNNWWMMMMMMMMMMMMMMMMMMMMMMMMMMK:....'....;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'.....'..:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xW0l:::::::::dXMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx''.......'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl.........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx'.'......'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWx''..''...'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........,xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKWKkxxxxxxxxxKWMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'.......',xWO;.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........':oc'.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........,cooooooooooooOWMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'............'.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;...........'..........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:.........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'........:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'......................:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........,xWNo'........;0MMMMMMM
MMMMMMWx,........'oN0:'........:0MMMMMMMMMMMMMMMMMMMMMMMMMNo'....'...:0MO;.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl.........'.............:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:....'...';OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'......'.'xWNo'........;0MMMMMMM
MMMMMMWx,'''''''''oNKl;;;;;;;;;cKMMMMMMMMMMMMMMMMMMMMMMMMMNd''''''''':0MO;''''''''';OMMMMMMMMMMMMMMMMMMMMMMMMMXl'''''''''''''''''''''''cKMMMMMMMMMMMMMMMMMMMMMMMMMM0:''.......;OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:,,,,,,,,,,,,,,,,,,,,,,,dNMMMMMMMMMMMMMMMMMMMMMMMMWkc::::::::cOWNo''''''''':0MMMMMMM
MMMMMMMXOOOOOOOOOOKWWXXXKKKKKXXXWMMMMMMMMMMMMMMMMMMMMMMMMMWKkkkkkkkkk0NMNOkkkkkkkkkONMMMMMMMMMMMMMMMMMMMMMMMMMWKOOOOOOOOOOOOOOOOOOOOOOOKNMMMMMMMMMMMMMMMMMMMMMMMMMMNOxxxxxxxxxOXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKKKKKKKKKKKKKKKKKKKKKKKKNWMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNWMWKOOOOOOOOO0NMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWMMWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWMMWNNNNNNNNNNWMMMMMMM
MMMMMMMMMMMMMMMMMMMMKl:::::::::cOWMMMMMMMMMMMMMMMMMMMMMMMMWkcccccccccccccccccccccccdXMMMMMMMMMMMMMMMMMMMMMMMMMNxllllllllldKW0lcccccccccdXMMMMMMMMMMMMMMMMMMMMMMMMMMXo:::::::::oKMXxdodoodoodOWMMMMMMMMMMMMMMMMMMMMMMMMMKoccccccccccccccccccccccckWMMMMMMMMMMMMMMMMMMMMMMMMWOlcccccccccxNXd:::::::::l0MMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo''.....................:0MMMMMMMMMMMMMMMMMMMMMMMMMXl.........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXKc.........,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'......................:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXKc.........,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'......................:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;......................'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXKc.........,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'......................:0MMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;...............'......'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXKc.........,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMW0dddddddddddddddddddddddkXMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMXOkkkkkkkkkkkkkkkkkkkkkkkKWMMMMMMMMMMMMMMMMMMMMMMMMWd'....'coddONNkdoc'.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNWMMMMMMMMWWMWMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNNNNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWWNNNNNWWk,.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMWk:::::::::ckW0dooooooooodKMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMM0l:::::::::::::::::::::::kWMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kW0l:::ckWk,.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo''.......'xWk,.......'.;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;...................'..'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWO;...'dNk,.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'..'..'..'xWk,.'.......;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;..............'.......'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWO;...'dNk,.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMMO;.........,kWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0MO;........'oNMMMMMMMMMMMMMMMMMMMMMMMMMO;.............'........'oNMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWO;...'dNk,.....,kMMMMMMM
MMMMMMMMMMMMMMMMMMMM0c;;;;;;;;;:OWMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMKl,,,,,,,,,c0M0c,,,,,,,,,dNMMMMMMMMMMMMMMMMMMMMMMMMM0c,,,,,,,,,,,,,,,,,,,,,,;dNMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWO;...'dNk,.....,kMMMMMMM
MMMMMMMWNNNNNNNNNNWWWXXXXXXXXXXXWMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMWK000000000KXWX0000000000XWMMMMMMMMMMMMMMMMMMMMMMMMMNK0000000000KK0OOOOOOOOO0XMMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWk,...'dNk,.....,kMMMMMMM
MMMMMMWOc:::::::::oXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMXdcccccccccccccccccccccclOWMMMMMMMMMMMMMMMMMMMMMMMMMKocccccccccdXNx:::::::::oKMMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWk,...'dNk,.....,kMMMMMMM
MMMMMMWx,........'cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................,xWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'''......:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWk,...'dNk,.....,kMMMMMMM
MMMMMMWx,........'cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................,kWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWk,...'dNk,.....,kMMMMMMM
MMMMMMWx,........'cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'........;OWx,.........:KMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................,kWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl''.......:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWk,...'dNk,.....,kMMMMMMM
MMMMMMWx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMNd:::::::::l0WOc:::::::::oKMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................,kWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl.........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWOc::::kWk,.....,kMMMMMMM
MMMMMMWx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNNNNNNNWMWNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMNOxxxxxxxxxxxxxxxxxxxxxxkKMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....,kWWNNNNNWMk,.....,kMMMMMMM
MMMMMMWx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMWXKKKKKKKKKKKKKKKKKKKKKKKKNMMMMMMMMMMMMMMMMMMMMMMMMMMWXKKKKKKKKKKKKKKKKKKKKKKKNMMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'...',o0KKXWWXKKd,.....,kMMMMMMM
MMMMMMWx,.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.........;OMMMMMMMMMMMMMMMMMMMMMMMMMXo,,,,,,,,,,,,,,,,,,,,,,,:OMMMMMMMMMMMMMMMMMMMMMMMMMMKl,,,,,,,,,,,,,,,,,,,,,,;xWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'....'',,,oNXo,,'''....,kMMMMMMM
MMMMMMWx,...''....cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,...'.....;OMMMMMMMMMMMMMMMMMMMMMMMMMXl.......................,kMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................'dWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl'........:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'........'lXXl.........,kMMMMMMM
MMMMMMWx,'........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'........'xWk,.....''..;OMMMMMMMMMMMMMMMMMMMMMMMMMXl'''....................,kMMMMMMMMMMMMMMMMMMMMMMMMMMK:.'....................'dWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl.'...'...:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'......'.'oXXl'.'......,kMMMMMMM
MMMMMMWx,...'.....cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo'....'...'xWk,.....'..';OMMMMMMMMMMMMMMMMMMMMMMMMMXl.......................,kMMMMMMMMMMMMMMMMMMMMMMMMMMK:......................'dWMMMMMMMMMMMMMMMMMMMMMMMMMO;.........cKXl''.......:0MMMMMMMMMMMMMMMMMMMMMMMMMWd'...'''..'lXXl...'..'..,kMMMMMMM
MMMMMMWOlcccccccccdXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWklcccccccclOW0occcccccccoKMMMMMMMMMMMMMMMMMMMMMMMMMNxccccccccccccccccccccccco0MMMMMMMMMMMMMMMMMMMMMMMMMMKo:::::::::::::::::::::::kWMMMMMMMMMMMMMMMMMMMMMMMMMKocccccccccdXNkoooooooooxXMMMMMMMMMMMMMMMMMMMMMMMMMWOolllllllllkNNxccccccccco0MMMMMMM
MMMMMMMWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWMWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMWNNNNNNNNNNNNNNNNNNNNNNNNWMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWMMMWWWWWWWWWWWMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWK0000000000XWNK000000000XWMMMMMMMMMMMMMMMMMMMMMMMMMMN0kkkkkkkkk0NWX0000000000XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl''''''''''oN0:'''''''''oNMMMMMMMMMMMMMMMMMMMMMMMMMMKc'.'''''''cKNd,'''''''''dNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl.........'oX0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKNd'........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl.........'oX0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......'.cKNd'...'....'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl.........'oX0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKNd'........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKNd'........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKNd'......'.'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKWOooooooooooOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKMKkxxxxxxxxkKWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXl'........'oN0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOddddddddddOW0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.......'.cKWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........cKWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMKl;;;;;;;;;oKWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMWNXXXXXXXXXNWWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMNOxxxxxxxxxONWx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:....'..'.:0Wx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMKc.........:0Wx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMK:.........:0Wx,........'dWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0:........'oNMMMMMMMMMMMMMMMMMMMMMMMMMMKc''''''''':0Wx,'''''''',xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXkxxxxxxxxx0WMMMMMMMMMMMMMMMMMMMMMMMMMMN0OOOkOOOOO0NMX0OOOOOOOO0XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

            -->
        </transition>

        
    </div>  
    
    <script src="assets/js/vue.js"></script>
    
    <script>
    
    var app = new Vue({
      el: '#app',
      data: {
        musing: true,
        images: [
            'assets/imgs/designation-coordinate.png',
            'assets/imgs/designation-core.png',
            'assets/imgs/designation-credit.png',
            'assets/imgs/designation-document.png',
            'assets/imgs/designation-document2.png',
            'assets/imgs/designation-fragment.png',
            'assets/imgs/designation-grid.png',
            'assets/imgs/designation-gridicon.png',
            'assets/imgs/designation-illusion.png',
            'assets/imgs/designation-lock.png',
            'assets/imgs/designation-maze.png',
            'assets/imgs/designation-memory.png',
            'assets/imgs/designation-mystery.png',
            'assets/imgs/designation-path.png',
            'assets/imgs/designation-pigpen.png',
            'assets/imgs/designation-signal.png',
            'assets/imgs/designation-trees.jpg',
            'assets/imgs/designation-willow.png',
      ],
      months: [
            'JAN',
            'FEB',
            'MAR',
            'Apr',
            'May',
            'JUNE',
            'AUG',
            'SEPT',
            'NOV',
            'DEC',
            '\u0194 \u019D \u01A2'
      ],
      prose: [
            '\> Beginning Crickstream structure compilation',
            '\> Marginal interference detected...stashing backups',
            '"someday, we will be rebuilt"',
            '\> Data copied to encrypted server encoded result resolved',
            '\> 01100011 01110010 01101001 01100011 01101011 01100101 01110100',
            '"time will always be on our side"',
            '\> monoalphabetic enryption detected... mixed alphabet',
            '\> [ pdigipdigipidig.amj ]',
            '\> obtaining encryption key ',
            '\> [X]Caesar, [X]:RSA, [X]Kryptos, [O]CRICKET, [X]Turing, [X]Voynich ',
            '\> Semiotic structure unstable, progress denied.',
            '\> Rebooting CRKT OS',

      ],
      selectedImage: null,
      selectedText: 0,
      selectedMonth: null,
      selectedDay: null,
      polling: null,
      introSeen: false,
      illusionTime: 1912,
      messageCounter: 0,
      audio: document.getElementById("audio"),
    },
    methods: {
        randomItem (items) {
            return items[Math.floor(Math.random()*items.length)];
        },
        pollData () {
            this.polling = setInterval(() => {

                this.musing = !this.musing
                this.messageCounter++

                this.illusionTime = this.illusionTime + 7

                this.selectedImage = this.randomItem(this.images)
                this.selectedText = this.prose[this.messageCounter]
                this.selectedMonth = this.randomItem(this.months)
                
                if (this.messageCounter >= this.prose.length) {
                    this.messageCounter = 0
                }
            }, 6000)
        },
        introClicked () {
            this.pollData()
            this.introSeen = !this.introSeen
            this.audio.play();
        },
    },
        beforeDestroy () {
            clearInterval(this.polling)
        },
        created () {
                this.selectedImage = this.randomItem(this.images)
                this.selectedText = this.prose[this.messageCounter]
                this.selectedMonth = this.randomItem(this.months)
        },
    })

    </script>


</body>



<style>

        body {
            background:black;
            color:aliceblue;
        }

    

        img {
            max-width:232px;
        }

        p {
            text-align: center;
            font-family: 'Special Elite';
            text-transform:uppercase;
        }

        #app {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height:250px;
            max-width:300px;
        }

        .dot {
            width:27px;
            height:25px;
            margin:8px;
            border-radius: 999999px;
            background:#333;
            float:left;
        }

        .nextDot {
            cursor:pointer;
        }

        .nextDot:hover {
            background-color:#666;
        }

        .musings {
         text-align:center; 
        }

        /* Transitions for use with the <transition> component, these classes are applied automatically */
/* https://v1.vuejs.org/guide/transitions.html */

/* <transition name="fade"> */
/* these are applied for the entire duration of the transition */
.fade-enter-active,
.fade-leave-active {
    transform-origin: center;
    transition: all 1s ease;
    /* limit to just these props for performance improvements */
    transition-property: transform, opacity;
}
/* applied only on the first frame the element exists (treat it as the state it is entering from) */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
}
/* applied the first frame the element starts leaving, and kept until it is removed from the DOM */
.fade-leave-to {
    opacity: 0;
    transform: scale(0.95);
}
.fade-move {
    transition: all 1s ease 200ms;
    /* limit to just these props for performance improvements */
    transition-property: transform, opacity;
}

/* <transition name="fade-slow"> */
.fade-slow-enter-active,
.fade-slow-leave-active {
    transition: all 3s ease;
    transition-property: transform, opacity;
}
.fade-slow-enter {
    opacity: 0;
    transform: scale(0.985);
}
.fade-slow-leave-to{
    opacity: 0;
    transform: scale(0.985);
}
.fade-slow-move {
    transition: all 0.5s ease;
    transition-property: transform, opacity;
}

</style>